In [14]:
from model.binomial import InterestRate, EuropeanVanillaModel, AmericanModel
import pandas as pd

#for filling column headers
columns = lambda x: ['t = ' + str(i) for i in range(x + 1)]

<h3>Vanilla European Call Example</h3>

In [15]:
r = InterestRate(0.12, short_term=False)
european_call = EuropeanVanillaModel(20, 21, .5, 1.1, .9, r, 2, option='call')

<h5>Tree of stock prices</h5>

In [16]:
s_tree = european_call.stock_tree()
#s_tree.T will transpose the tree so it looks like how we build them by hand
st_df = pd.DataFrame(s_tree.T, columns=columns(european_call.n))
st_df

   t = 0  t = 1  t = 2
0   20.0   22.0   24.2
1    0.0   18.0   19.8
2    0.0    0.0   16.2

<h5>Tree of derivative prices</h5>

In [17]:
v_tree = european_call.derivative_tree(s_tree)
#v_tree.T will transpose the tree so it looks like how we build them by hand
vt_df = pd.DataFrame(v_tree.T, columns=columns(european_call.n))
vt_df

      t = 0     t = 1  t = 2
0  1.282185  2.025584    3.2
1  0.000000  0.000000    0.0
2  0.000000  0.000000    0.0

<h5>Optimal price at t=0</h5>

In [18]:
european_call.price()

1.2821849452741405

<h3>Vanilla European Put Example</h3>

In [19]:
r = InterestRate(0.04, short_term=True)
european_put = EuropeanVanillaModel(80, 100, 2, 1.2, .8, r, 3, option='put')

<h5>Tree of stock prices</h5>

In [20]:
s_tree = european_put.stock_tree()
#s_tree.T will transpose the tree so it looks like how we build them by hand
st_df = pd.DataFrame(s_tree.T, columns=columns(european_put.n))
st_df

   t = 0  t = 1  t = 2   t = 3
0   80.0   96.0  115.2  138.24
1    0.0   64.0   76.8   92.16
2    0.0    0.0   51.2   61.44
3    0.0    0.0    0.0   40.96

<h5>Tree of derivative prices</h5>

In [21]:
v_tree = european_put.derivative_tree(s_tree)
#v_tree.T will transpose the tree so it looks like how we build them by hand
vt_df = pd.DataFrame(v_tree.T, columns=columns(european_put.n))
vt_df

       t = 0      t = 1      t = 2  t = 3
0  16.092361   9.105629   2.997768   0.00
1   0.000000  28.311635  19.278944   7.84
2   0.000000   0.000000  44.878944  38.56
3   0.000000   0.000000   0.000000  59.04

<h5>Optimal price at t=0</h5>

In [22]:
european_put.price()

16.092360501520012

<h3>American Put Example</h3>

In [23]:
r = InterestRate(0.04, short_term=True)
american_put = AmericanModel(80, 100, 2, 1.2, .8, r, 3, option='put')

<h5>Tree of stock prices</h5>

In [24]:
s_tree = american_put.stock_tree()
#s_tree.T will transpose the tree so it looks like how we build them by hand
st_df = pd.DataFrame(s_tree.T, columns=columns(american_put.n))
st_df

   t = 0  t = 1  t = 2   t = 3
0   80.0   96.0  115.2  138.24
1    0.0   64.0   76.8   92.16
2    0.0    0.0   51.2   61.44
3    0.0    0.0    0.0   40.96

<h5>Tree of derivative prices</h5>

In [25]:
v_tree = american_put.derivative_tree(s_tree.data)
#v_tree.T will transpose the tree so it looks like how we build them by hand
vt_df = pd.DataFrame(v_tree.T, columns=columns(american_put.n))
vt_df

   t = 0      t = 1      t = 2  t = 3
0   20.0  10.604917   2.997768   0.00
1    0.0  36.000000  23.200000   7.84
2    0.0   0.000000  48.800000  38.56
3    0.0   0.000000   0.000000  59.04

<h5>Optimal price at t=0</h5>

In [26]:
american_put.price()

20.0